<div class="card mb-3">
  <h5 class="card-header">
    <%= link_to article.title, article_path(article), class: 'text-dark' %>
  </h5>

  <div class="card-body">
    <label class="font-weight-bolder">URL</label>
    <p><%= link_to article.url, article.url, target: '_blank' %></p>

    <label class="font-weight-bolder">Publication Date</label>
    <p><%= article.published_at %></p>

    <label class="font-weight-bolder">Description</label>
    <p><%= coalesce_to_empty(article.description).html_safe %></p>

    <label class="font-weight-bolder">Group</label>
    <p>
      <% if article.group_id %>
        <p><%= link_to article.group_id, article.group %></p>
      <% else %>
        <%= empty_text %>
      <% end %>
    </p>
    <p><%= link_to article.channel.title, channel_path(article.channel) %></p>

    <%= link_to edit_article_path(article), class: 'btn btn-outline-info btn-sm' do %>
      <i class="fas fa-pen mr-1"></i>
      Edit
    <% end %>

    <%= link_to article, method: :delete, data: { confirm: 'Are you sure?' },
        class: 'btn btn-outline-danger btn-sm' do %>

      <i class="fas fa-trash mr-1"></i>
      Delete
    <% end %>
  </div>
</div>
