<div class="<%= group.card_classes %>">
  <% if group.image? %>
    <%= render partial: 'news/group_header_with_image', locals: { group: group } %>
  <% end %>

  <%= render partial: 'news/group_header', locals: { group: group, hidden: group.image? } %>

  <% if group.show_card_body? %>
    <div class="card-body">
      <% if group.display_summary %>
        <div class="text-orange mb-3">
          <em><%= group.display_summary %></em>
        </div>
      <% end %>

      <% if group.secondary_articles.any? %>
        <% group.secondary_articles.each do |article| %>
          <%= render partial: 'news/secondary_article', locals: { article: article } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
