<div class="<%= group.card_classes %>">
  <% if group.image_url %>
    <%= render partial: 'news/group_header_with_image', locals: { group: group } %>
  <% else %>
    <%= render partial: 'news/group_header', locals: { group: group } %>
  <% end %>

  <div class="card-body">
    <div class="text-orange mb-3">
      <em><%= group.primary_article.display_summary %></em>
    </div>

    <% if group.secondary_articles.any? %>
      <% group.secondary_articles.each do |article| %>
        <%= render partial: 'news/secondary_article', locals: { article: article } %>
      <% end %>
    <% end %>
  </div>
</div>
