<div class="story-minimized mb-4 mb-md-0 flex-1">
  <%= article_meta(group) %>

  <% if group.thumbnail_image_url %>
    <div class="position-relative">
      <img src="<%= group.thumbnail_image_url %>" class="w-100">
      <div class="image-overlay">
        <%= link_to group.url, target: '_blank' do %>
          <%= group.title %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= article_title_link(group) %>
  <% end %>

  <div class="story-summary mt-3">
    <%= group.display_summary %>
  </div>
</div>
