<div class="row mb-4 news-category-header" style="margin-top: 70px;">
  <div class="col-12">
    <div>
      <div class="h3 mr-1">
        <%= @news.category.title %>
      </div>

      <div>
        <div class="d-inline-block text-muted btn pl-0 ml-0">
          <%= page_n_of_m @news.groups %>
        </div>

        <div class="d-inline-block float-right">
          <%= render partial: 'news/page_buttons', locals: { groups: @news.groups } %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @news.groups.any? %>
  <div class="row">
    <div class="col-12">
      <div class="card-columns news-groups-container">
        <% @news.groups.decorate.each do |group| %>
          <%= render partial: 'news/group', locals: { group: group } %>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-12">
      <div class="d-inline-block text-muted btn pl-0 ml-0">
        <%= page_n_of_m @news.groups %>
      </div>

      <div class="d-inline-block float-right">
        <%= render partial: 'news/page_buttons', locals: { groups: @news.groups } %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-12">
      <h4><em>No stories for this category right now. Check back!</em></h4>
    </div>
  </div>
<% end %>
