<!DOCTYPE html>
<html>
  <head>
    <title>POLYNews</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render partial: 'shared/favicon_links' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header>
      <%= render partial: 'news/navbar' %>
    </header>

    <main class="container-fluid mt-4" role="main">
      <%= yield %>
    </main>
  </body>
</html>
